<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books list</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <td>Name</td>
            <td>ISBN</td>
            <td>Publisher</td>
        </tr>

        <tr th:each="book : ${ books }">
            <th th:text="${book.getId()}">Id</th>
            <td th:text="${book.getTitle()}">Name</td>
            <td th:text="${book.getIsbn()}">ISBN</td>
            <td th:text="${book.getPublisher().getName()}">Publisher</td>
        </tr>
    </table>
</body>
</html>